.row {
  margin: 20px;
}

h1 {
  text-align: center; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  float: left;
}

body {
  background-color: black;
  color: white;
  font-family: Times;
}

.card {
  background-color: blue;
  color: orange;
  padding: 14px;
  margin: 20px;
}

.btn {
  display: block;
  color: white;
}

#result, #congrats {
  display: none;
  background-color: yellow;
  color: black;
}